@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FF4800;
  --secondary: #1D1D1D;
  --background: #E2DDD6;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}