@import url("assets/styles/font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@layer base {
  * {
    @apply border-secondary;
  }

  .noisy-bg {
    background-image: url("/Noisy-Background.svg");

  }

  :root {
    --primary: #FF4800;
    --secondary: #1D1D1D;
    --background: #E2DDD6;
    word-spacing: -2px;
    font-family: "Neue Machina", system-ui,
      sans-serif;
    color-scheme: light dark;
    color: var(--secondary);
    background-color: var(--background);
    background-image: url("/Noisy-Background.svg");
    background-size: cover;
    background-position: center;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;

  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  a {
    @apply no-underline;
  }
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}